{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}

        <table id = "holdings">
        <thead>
            <tr>
            <th>Stock</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Transaction Type</th>
            </tr>
        </thead>
        {% for trans in transaction %}
        <tbody>
            <tr>
                <td>{{trans["stock"]}}</td>
                <td>{{trans["cost"]}}</td>
                <td>{{trans["qty"]}}</td>
                <td>{{trans["type"]}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
    <br>

{% endblock %}