{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
        <h2>Total cash = {{ cash | usd }}</h2>
        <table id = "holdings">
        <thead>
            <tr>
            <th>Current Holdings</th>
            <th>Quantity</th>
            <th>Current Price per share</th>
            <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
                {% for each in ls %}
            <tr>
                <td>{{ each["stock"] }}</td>
                <td>{{ each["qty"] }}</td>
                <td>{{ each["cprice"] | usd }}</td>
                <td>{{ each["ctotal"] | usd }}</td>
                {% endfor %}
            </tr>
        </tbody>
        </table>
        <h2>Total portfoilo = {{total}}</h2>
    <br>

{% endblock %}