{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}


{% block main %}

    <form action = "/quote" method = "post">
        <div class="mb-3">
            <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="stock" type="text">
        </div>
        <button class="btn btn-primary" type="submit" id = "quoted">Quote</button>
    </form>
    <br>
   <h2>{{ quote.symbol}}</h2>
   <p> {{ text }}{{ price}}</p>

{% endblock %}